{#
    needed Variables:
        record: the record to be displayed
        tagList: the list of tags for the record ( in array )
#}

{% use '@theme/partials/buttons/_button-red.twig' %}
{% use '@theme/partials/buttons/_tags.twig' %}
{% use '@theme/partials/modals/_videoModal.twig' %}
{% block cardNosRealisationsStylesheet %}
    {{ block('buttonRedStylesheet') }}
    {{ block('tagStylesheet') }}
    {{ block('videoModalStyleSheet')}}
    {{ encore_entry_link_tags('cardNosRealisationStyle', null, 'transvis') }}
{% endblock %}
{% block cardNosRealisationsJavascript %}
    {{ block('tagJavascript') }}
    {{ block('videoModalJavascript') }}
    {{ encore_entry_script_tags('cardNosRealisationsJs', null, 'transvis') }}
{% endblock %}

{% block cardNosRealisationsContent %}
    <div class="col-12 col-xl-4 p-4 cardOuterContainer" data-loopindex="{{loopIndex}}" data-timerecord="{{ record.videoTime }}" data-iscaptured="0" data-aos="fade-up" data-aos-duration="{{ 250 + (loopIndex * 250)}}">
        <div class="card nr cardNosRealisations" data-loop-index="{{loopIndex}}">
            <div class="card-img">
            {% if record.video is defined and record.video is not null and record.video is not empty %}
                <canvas class="card-img-top" id="cardImage{{loopIndex}}"></canvas>
            {% elseif record.carousel is defined and record.carousel is not empty %}
                {% for picture in record.carousel %}
                    {% if loop.first %}
                        <img class="card-img-top" src="{{ asset(picture) }}" alt="{{ picture.title }}" >
                    {% endif %}
                {% endfor %}
            {% else %}
                <img id="imageNotFound" class="card-img-top" src="{{ asset('images/Image_not_available.png.webp') }}" alt="image non trouvé" >
            {% endif %}
                <div class="play-video">
                    {% include ("images/play-button.svg") %}
                </div>
            </div>
            <div class="card-body">
                <h3 class="title">{{ record.title | upper }}</h3>
                <div class="row tag-line mb-3 align-items-center py-1">
                    {% for key, tag in tagList %}
                        {%  with { name: key, slug: tag} %}
                        {{ block('tagContent') }}
                        {% endwith %}
                    {% endfor %}
                </div>
                <p class="card-text">{{record.teaser|excerpt(300)}}</p>
                {%  with { text: "En savoir plus", link: "#modal-" ~ loopIndex,  width: "200px", height: "37px", nextWidth: "8%"} %}
                {{ block('buttonRedContent') }}
                {% endwith %}
            </div>

        </div>
        {% with {loopIndex : loopIndex, record : record} %}
        {{ block('videoModalContent') }}
        {% endwith %}
    </div>
{% endblock %}
