{#
text
link
width
height
nextWidith: arrow logo width default 10%
#}

{% block buttonRedStylesheet %}
    {{ encore_entry_link_tags('btnRedStyle', null, 'transvis') }}
{% endblock buttonRedStylesheet %}

{% block buttonRedContent %}

    {% if isBlack is not defined %}
        {% set isBlack = false %}
    {% endif %}
    {% if external is not defined %}
        {% set external = false %}
    {% endif %}
    {% if icon is not defined %}
        {% set icon = false %}
    {% endif %}
    {% if upper is not defined %}
        {% set upper = true %}
    {% endif %}
    {% if spacing is not defined %}
        {% set spacing = 'me-2' %}
    {% endif %}
    {% if hxGet is not defined %}
        {% set hxGet = false %}
    {% else %}
        {% set hxGet = 'hx-get=' ~ hxGet %}
    {% endif %}
    {% if hxTrigger is not defined %}
        {% set hxTrigger = false %}
        {% else %}
        {% set hxTrigger = 'hx-trigger=' ~ hxTrigger %}
    {% endif %}
    {% if hxTarget is not defined %}
        {% set hxTarget = false %}
    {% else %}
        {% set hxTarget = 'hx-target=' ~ hxTarget %}
    {% endif %}
    <a class="btn-link d-flex justify-content-center align-items-center btn-link-more 
    {{ isBlack ? 'btn-link-dark' : 'button-link' }}" 
    href="{{ link ?? '' }}" 
    style="width: {{ width ?? '' }}; height: {{ height ?? '' }}" 
    {{ external ? 'target="_blank"' : '' }} 
    {{ hxGet ? hxGet : '' }} 
    {{ hxTrigger ? hxTrigger : '' }} 
    {{ hxTarget ? hxTarget : '' }}>
        <span class="{{ spacing }} align-baseline">
            {% if upper is true %}
                {{ text | upper }}
            {% else %}
                {{ text }}
            {% endif %}
        </span>
        <img src="{{ asset(icon ? icon :'images/savoirs-faire/next.png.webp') }}" alt="next" class="next" style="width: {{ nextWidth ?? '' }}">
    </a>
{% endblock buttonRedContent%}
