{#
    tag: text
#}

{% block tagStylesheet %}
    <link rel="stylesheet" href="{{ asset('css/tag.css') }}">
{% endblock %}
{% block tagJavascript %}
  <script src="{{ asset('js/tagSeeMore.js') }}"></script>
{% endblock %}
{% block tagContent %}
    {% set name = name ?? tag %}
    <div class="single-tag-container text-center">
        <p class="me-2 mb-2 text-center">
        {% if taxonomies is defined %}
             <a href="{{ taxonomies is defined ? "/" ~ taxonomies ~ "/" ~ slug : ''  }}" class="tag-link tag">{{ name | upper }}</a>
        {% else %}
            <span class="tag-link tag">{{ name | upper }}</span>
        {% endif %}
        </p>
    </div>
{% endblock %}
