{#
    tag: text
#}
{% block tagStylesheet %}
    <link rel="stylesheet" href="{{ asset('css/tag.css') }}">
{% endblock %}
{% block tagJavascript %}
  <script src="{{ asset('js/tagSeeMore.js') }}"></script>
{% endblock %}
{% block tagContent %}
    <div class="single-tag-container">
        <p class="tag me-2 mb-2">
            <a href="/{{ taxonomies }}/{{ slug }}" class="tag-link">{{ name | upper }}</a>
        </p>
    </div>
{% endblock %}
