{% use '@theme/partials/_logo_slider.twig' %}
{% use '@theme/partials/buttons/_button-red.twig' %}
{% block videoModalJavascript %}
{{ encore_entry_script_tags('nosRealisationModalJs', null, 'transvis') }}
    {{ block('buttonRedStylesheet') }}
{% endblock videoModalJavascript %}

{% block videoModalStyleSheet %}
    {{ encore_entry_link_tags('videoModalStyle', null, 'transvis') }}
{% endblock videoModalStyleSheet %}

{% block videoModalContent %}
    <div class="modalYoutube" id="modal-{{loopIndex}}">
        <div class="modalContainer">
            <div class="">
                <div class="modalHeader row justify-content-center align-items-center">
                    <h1 class="text-center modalTitle col-11">
                        {{ record.title | upper  }}
                    </h1>
                    <button type="button" class="btn-close-modal">
                        {% include ("images/enveloppe.svg") %}
                    </button>
                </div>
            </div>
            <div class="modalBody mt-4">
                <div class="row justify-content-center">
                    <div class="col-10">
                        {{ record.teaser }}
                    </div>
                </div>
                <div class="video-player mt-4 d-flex justify-content-center align-items-center">
                    <div class="col-10 video-player-inner">
                        <div class="splide slider-slide col-12 col-md-12 col-xl-12" id="carouselSlider">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    {% if record.video is not null and record.video is not empty %}
                                        <li class="splide__slide  d-flex align-items-center justify-content-center">
                                            <video controls muted id="videoPlayer">
                                                <source src="{{ record.video }}" type="video/webm">
                                            </video>
                                        </li>
                                    {% endif %}
                                    {% for picture in record.carousel %}
                                        <li class="splide__slide  d-flex align-items-center justify-content-center">
                                            <img data-splide-lazy="{{ asset(picture) }}" alt="{{ picture.title }}" class="img-responsive" style="object-fit: contain;">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center my-4">
                    {% if record.machineSheet is defined and record.machineSheet is not null and record.machineSheet is not empty %}
                        {%  with { text: "Fiche technique", link: record.machineSheet, width: "250px", height: "37px", nextWidth: "8%", isBlack: true} %}
                        {{ block('buttonRedContent') }}
                        {% endwith %}
                    {% endif %}
                </div>
                <div class="row">
                {% with {id : 'logoSliderModal'} %}
                    {{ block('logoSliderContent')}}
                {% endwith %}
                </div>

                <div class="row modalFooter align-items-center justify-content-center" style="background-image: url({{ asset('images/bgRed.png.webp') }}); background-size: cover;">
                    <div class="text-center modalContactText">
                        <p>Un projet ?</p>
                        <p>Venez en discuter</p>
                    </div>
                    <br>
                    {%  with { text: "Contactez-nous", link: '/contact' , width: "200px", height: "37px", nextWidth: "0%", isBlack: true} %}
                    {{ block('buttonRedContent') }}
                    {% endwith %}
                </div>
            </div>
        </div>


    </div>
{% endblock videoModalContent %}
