{% setcontent options = 'Vos options' %}
{% if options.email is not defined or options.email is empty %}
    {% set mailto = 'contact@transvis.com' %}
{% else %}
    {% set mailto = options.email %}
{% endif %}
<div class="mb-4">
    {{ form_start(form) }}
    {% if valid %}
        <div class="boltforms-feedback error bg-success">{{ formconfig.feedback.success|raw }}</div>
    {% endif %}
    {% if submitted and not valid %}
        <div class="boltforms-feedback error">{{ formconfig.feedback.error|raw }}</div>
    {% endif %}
    <div class="row my-2">
        <div class="col-6">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} } ) }}
        </div>
        <div class="col-6">
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} } ) }}
        </div>
    </div>
    <div class="row my-2">
        <div class="col-6">
            {{ form_errors(form.companyName) }}
            {{ form_widget(form.companyName, { 'attr': {'class': 'form-control'} } ) }}
        </div>
        <div class="col-6">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} } ) }}
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 my-2">
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject, { 'attr': {'class': 'form-control'} } ) }}
        </div>
        <div class="col-12 my-2">
            {{ form_errors(form.message) }}
            {{ form_widget(form.message, { 'attr': {'class': 'form-control form-control-textarea'} } ) }}
        </div>
        <br>
        <div class="row justify-content-center align-items-center">
            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-dark send-mail-button col-10 col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center'},
            'label' : 'ENVOYER' } ) }}
        </div>
        {{ form_widget(form.mailto, { 'attr': {'class': 'form-control'} } ) }}
        <div class="form-control form-special" style=' opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;'>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('form');
    var mailto = form.querySelector('input[name="contact[mailto]"]');
   mailto.value = {{ mailto|json_encode|raw }};
});
</script>
