{% setcontent options = 'Vos options' %}
{% if options.email is not defined or options.email is empty %}
    {% set mailto = 'contact@transvis.fr' %}
{% else %}
    {% set mailto = options.email %}
{% endif %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<div class="mb-4">
    {{ form_start(form, {'attr': {'class': 'd-flex flex-column col-12 justify-content-center align-items-center'}}) }}
    <div class="col-11 mb-5">
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} } ) }}
    </div>
    <div class="col-11 mb-5">
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} } ) }}
    </div>
    <div class="col-11 mb-5">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} } ) }}
    </div>
    <div class="col-11 mb-5">
        {{ form_errors(form.motivation) }}
        {{ form_widget(form.motivation, { 'attr': {
            'class': 'form-control',
            'rows': '10'
        } } ) }}
    </div>
    <div class="group-send d-flex flex-column flex-sm-row col-11 justify-content-around">
        <div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4 mb-4 mb-sm-5">
            <button type="button" class="btnFile d-flex col-12 justify-content-center align-items-center"
                    onclick="document.getElementById('recrutements_filename').click(); return false;">{{ 'Déposer votre cv' | upper }}
                <img class="ms-2" src="{{ asset('images/upload-file.svg') }}" alt="logo upload">
            </button>
            {{ form_errors(form.filename) }}
            {{ form_widget(form.filename, {'attr': {
                'class': 'col-12',
                'style': 'visibility: hidden; display: none;',
            }}) }}
        </div>
        {{ form_widget(form.job, {'attr': {'value': record.title}}) }}
        {{ form_widget(form.job_id, {'attr': {'value': record.id}}) }}
        <div class="justify-content-center align-items-center">
            {{ form_widget(form.submit, { 'attr': {
                'class': 'btn btn-dark send-mail-button d-flex justify-content-center align-items-center col-12'},
                'label' : 'ENVOYER'
            } ) }}
        </div>
    </div>
 {{ form_widget(form.mailto, { 'attr': {'class': 'form-control'} } ) }}
    <div class="form-control form-special"
         style=' opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;'>
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var form = document.querySelector('form');
    var mailto = form.querySelector('input[name="recrutements[mailto]"]');
   mailto.value = {{ mailto|json_encode|raw }};
});
</script>
