{% extends '@bolt/_base/layout.html.twig' %}
{% setcontent contactMessage = 'Message' limit '5' orderby '-timestamp' %}
{% block title %}
    Listes des messages
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/adminContact.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/_adminContact/adminContactButton.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="container">
        {% include 'partials/_appFlash.twig' %}
        <div class="row">
            {% for message in contactMessage %}
                <div class="card w-100 my-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                Message envoyé par :
                                {{ message.name }}
                                {{message.firstname}}
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                Message reçu le :
                                {{ message.timestamp|date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="row text-muted mt-2 pl-3">
                            {{ message.email }}
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{message.message}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-around">
                            <div class="col-10">
                                <button type="button" class="btn btn-primary replyButton" data-email="{{ message.email }}">Répondre</button>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <form action="{{ path('app_contact_message_delete', {'id': message.id}) }}" method="post">
                                    <button type="submit" class="btn btn-danger deleteButton">
                                        <i class="fas fa-trash-alt"></i>
                                        Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'partials/_adminContact/_replyModal.twig' %}
        <div class="d-flex justify-content-center w-100">
            {{ pager(contactMessage, template = 'helpers/_pager_bootstrap.html.twig') }}
        </div>
    </div>
{% endblock %}
