{#
record.
    title: 'text'
    teaser: 'redactor'
    blockOne: 'fields'
        image: 'image'
        text: 'text'
    blockTwo: 'text"
#}

{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
{%  endblock javascript %}

{% block main %}
    <div class="row box-top">
        <h1>{{ record.title }}</h1>
        <p>{{ record.teaser }}</p>
    </div>
    <div class="row box-bottom">
        <div class="col-8">
            {{ boltform('contact') }}
        </div>
        <div class="col-4">
            <iframe width="auto" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=orl%C3%A9ans%2045000&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
{% endblock main %}
