{#
    record:
        video: 'file"
        teaser: 'text'
#}

{% extends '@theme/partials/_master.twig' %}

{% use '@theme/partials/_logo_slider.twig' %}
{% use '@theme/partials/_homeHeader.twig' %}
{% use '@theme/partials/_homeNosValeurs.twig' %}
{% use '@theme/partials/_homeNosSavoirFaire.twig' %}
{% use '@theme/partials/_homeNosEquipes.twig' %}

{% block stylesheet %}
    {{ parent() }}
    {{ block('logoSliderStylesheet') }}
    {{ block('homeHeaderStylesheet') }}
    {{ block('homeNosValeursStylesheet') }}
    {{ block('homeSavoirFaireStylesheet') }}
    {{ block('homeNosEquipesStylesheet') }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
    {{ block('logoSliderJavascript')}}
    {{ block('homeSavoirFaireJavascript') }}
{%  endblock javascript %}


{% block main %}
    <section>
        {{ block('homeHeaderContent')}}
    </section>
    {{ block('logoSliderContent')}}
    <section>
        {{ block('homeSavoirFaireContent') }}
    </section>
    <section>
        {{ block('homeNosEquipesContent')}}
    </section>
    <section class="homeNosValeurs">
        {{ block('homeNosValeursContent')}}
    </section>
{% endblock main %}
