{#
    record:
        video: 'file"
        teaser: 'text'
#}

{% extends '@theme/partials/_master.twig' %}

{% use '@theme/partials/_logo_slider.twig' %}
{% use '@theme/partials/_homeHeader.twig' %}
{% use '@theme/partials/_homeNosEquipes.twig' %}
{% block stylesheet %}
    {{ parent() }}
    {{ block('logoSliderStylesheet') }}
    {{ block('homeHeaderStylesheet') }}
    {{ block('homeNosEquipesStylesheet') }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
    {{ block('logoSliderJavascript')}}
{%  endblock javascript %}


{% block main %}
    <section>
        {{ block('homeHeaderContent')}}
    </section>
        {{ block('logoSliderContent')}}

    <section>
        {{ block('homeNosEquipesContent')}}
    </section>
{% endblock main %}
