{#
record.
    title: 'text'
    teaser: 'redactor"
    image: 'Image'
    bottomImage: 'Image'
    cardTitle: 'text"
    cardText: 'text'
    seo
    slug
#}
{% extends '@theme/partials/_master.twig' %}

{% use '@theme/partials/buttons/_button-red.twig' %}
{% use '@theme/partials/cards/_card_recrutements.twig' %}
{% use '@theme/partials/_block_top_singleton_with_image.twig' %}

{% setcontent recrutements = 'Recrutements' limit 4 orderby '-publishedAt' %}
{% set count = recrutements|length %}


{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/equipes.css') }}">
    {{ block('cardRecrutementStylesheet') }}
    {{ block('blockTopSingletonWithImageStylesheet') }}
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}
{{ block('buttonRedStylesheet') }}
{%  endblock javascript %}

{% block main %}
    <div class="nosEquipes mb-5">
        <div class="container-sf">
            {% with {defaultImage: asset('images/equipe.webp')} %}
                {{ block('blockTopSingletonWithImageContent') }}
            {% endwith %}
            {% include '@theme/partials/_line.twig' %}
        </div>
        <div class="blok-recrutement d-flex flex-column px-4">
            <h2 class="text-center my-4">{{ 'Rejoignez-nous' | upper }}</h2>
            {% if recrutements is empty %}
                <h3 class="text-center mt-5">{{ 'Aucun poste à pourvoir pour le moment' }}</h3>
            {% else %}
                <div
                    class="cards-recrutements d-flex flex-column flex-xl-row {{ count < 3 ? 'justify-content-around' : 'justify-content-between' }} align-items-center">
                    {% for recrutement in recrutements %}
                        {% if loop.index < 4 %}
                            {% with {card: recrutement} %}
                                {{ block('cardRecrutementContent') }}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% if count > 3 %}
                    <div class="d-flex justify-content-center">
                        {% with { text: "Voir plus d'offres", link: 'recrutements', width: "285px", height: "37px", nextWidth: "5%" } %}
                            {{ block('buttonRedContent') }}
                        {% endwith %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock main %}
