{#
record.
    title: 'text'
    teaser: 'redactor"
    image: 'Image'
    bottomImage: 'Image'
    cardTitle: 'text"
    cardText: 'text'
    seo
    slug
#}
{% extends '@theme/partials/_master.twig' %}

{% use '@theme/partials/buttons/_button-red.twig' %}
{% use '@theme/partials/cards/_card_recrutements.twig' %}
{% use '@theme/partials/_block_top_singleton_with_image.twig' %}

{% setcontent recrutements = 'Recrutements' limit 4 orderby '-publishedAt' %}
{% set count = recrutements|length %}


{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('equipeStyle', null, 'transvis') }}
    {{ block('cardRecrutementStylesheet') }}
    {{ block('blockTopSingletonWithImageStylesheet') }}
    {{ block('buttonRedStylesheet') }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('superpositionJs', null, 'transvis') }}
{%  endblock javascript %}

{% block main %}
    <div class="nosEquipes mb-5 mt-5">
        <div class="container-sf">
            <h1 class="text-center text-xl-start pt-1 line-before-start mb-5" data-aos="fade-up">{{ record.title | upper }}</h1>
            {% if record.intro is defined %}
                <div data-aos="fade-up" data-aos-delay="250">{{ record.intro }}</div>
            {% endif %}
            <div class="p-0 p-md-3" id="nosEquipeTeaser">
                {{ superposition(record.teaser) }}
            </div>
            {% include '@theme/partials/_line.twig' %}
        </div>
        <div class="blok-recrutement d-flex flex-column p-4">
            <h2 class="text-center my-4" data-aos="fade-up">{{ 'Rejoignez-nous' | upper }}</h2>
            {% if recrutements is empty %}
                <h3 class="text-center mt-5" data-aos="fade-up">{{ 'Aucun poste à pourvoir pour le moment' | upper }}</h3>
            {% else %}
                <div class="cards-recrutements d-flex flex-column flex-xl-row {{ count < 3 ? 'justify-content-around' : 'justify-content-between' }} align-items-center" data-aos="fade-up" data-aos-duration="750">
                    {% for recrutement in recrutements %}
                        {% if loop.index < 4 %}
                            {% with {card: recrutement, index: loop.index} %}
                            {{ block('cardRecrutementContent') }}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% if count > 3 %}
                    <div class="d-flex justify-content-center">
                        {% with { text: "Voir plus d'offres", link: 'recrutements', width: "285px", height: "37px", nextWidth: "5%" } %}
                        {{ block('buttonRedContent') }}
                        {% endwith %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock main %}
