{#
record.
    title: 'text'
    teaser: 'redactor'
    contentValues: 'collection'
        contentValue: 'fields"
            image: 'image"
            text: 'text'
    seo
    slug
#}
{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/valeurs.css') }}">
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
<script src="{{ asset('js/timeline.js') }}"></script>
{% endblock javascript %}

{% block main %}
    <div class="nos-valeurs pt-5 mt-5 d-flex flex-column">
        <div class="block-top d-flex flex-column">
            <h1 class="text-center pt-1 mb-4">{{ record.title | upper }}</h1>
            <div class="col-12 text-center px-5">
                {{ record.teaser }}
            </div>
        </div>
        {% include '@theme/partials/_line.twig' %}
        <div class="block-bottom py-5">
            <div class="ag-timeline-block">
                <section class="ag-section">
                    <div class="ag-format-container">
                        <div class="js-timeline ag-timeline">
                            <div class="js-timeline_line ag-timeline_line">
                                <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
                            </div>
                            <div class="ag-timeline_list">
                                <div class="js-timeline_item ag-timeline_item">
                                    <div class="ag-timeline-card_box d-flex justify-content-center">
                                        <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                            <div class="ag-timeline-card_point d-flex justify-content-center align-items-center">
                                                <div class="w-75">
                                                    {% include('images/test-timeline.svg') %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_item">
                                        <div class="ag-timeline-card_inner">
                                            <div class="ag-timeline-card_info">
                                                <div class="ag-timeline-card_desc">
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                                                    vel, aliquet nec, vulputate eget, arcu.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ag-timeline-card_arrow"></div>
                                    </div>
                                </div>
                                <div class="js-timeline_item ag-timeline_item">
                                    <div class="ag-timeline-card_box d-flex justify-content-center">
                                        <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                            <div class="ag-timeline-card_point d-flex justify-content-center align-items-center">
                                                <div class="w-75">
                                                    {% include('images/test-timeline.svg') %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_item">
                                        <div class="ag-timeline-card_inner">
                                            <div class="ag-timeline-card_info">
                                                <div class="ag-timeline-card_desc">
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                                                    vel, aliquet nec, vulputate eget, arcu.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ag-timeline-card_arrow"></div>
                                    </div>
                                </div>
                                <div class="js-timeline_item ag-timeline_item">
                                    <div class="ag-timeline-card_box d-flex justify-content-center">
                                        <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                                            <div class="ag-timeline-card_point d-flex justify-content-center align-items-center">
                                                <div class="w-75">
                                                    {% include('images/test-timeline.svg') %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ag-timeline-card_item">
                                        <div class="ag-timeline-card_inner">
                                            <div class="ag-timeline-card_info">
                                                <div class="ag-timeline-card_desc">
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                                                    vel, aliquet nec, vulputate eget, arcu.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ag-timeline-card_arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock main %}

