{% extends '@theme/partials/_master.twig' %}
{% use '@theme/partials/cards/_card_nosRealisations.twig' %}
{% use '@theme/partials/buttons/_button_filter.twig' %}
{% use '@theme/partials/_logo_slider.twig' %}
{#
    Records: 'collection record'
#}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/nosRealisations.css') }}">
    {{ block('cardNosRealisationsStylesheet')}}
    {{ block('logoSliderStylesheet') }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
    {{ block('buttonFilterJavascript')}}
    {{ block('cardNosRealisationsJavascript') }}
    {{ block('logoSliderJavascript') }}
{%  endblock javascript %}

{% block main %}
    {% if options.nosRealisationsTitle is defined and options.nosRealisationsTitle is not null %}
        {% set pageTitle = options.nosRealisationsTitle %}
    {% else %}
        {% set pageTitle = 'Nos réalisations' %}
    {% endif %}
    {% if options.nosRealisationsTitle is defined and options.nosRealisationsText is not null %}
        {% set pageText = options.nosRealisationsText %}
    {% else %}
        {% set pageText = 'Découvrez nos réalisations' %}
    {% endif %}
    {% set recordsTagList = [] %}
    {% set taxonomies = "nosRealisationsTags" %}
    {% if tag_cloud("nosRealisationsTags") is not empty %}
        {% for recordsTag in tag_cloud("nosRealisationsTags") %}
            {% set recordsTagList = recordsTagList|merge({(recordsTag.name) : recordsTag.slug }) %}
        {% endfor %}
    {% endif %}

    <div class="Nos-realisations mt-5" id="nosRealisationSection">
        <div class="row bs-g-0 nosRealisationIntro" style="padding: 0 6%;">
            <h1 class="nosRealisationTitle mt-4">
                {{ pageTitle|upper  }}
            </h1>
            <p class="mt-5">
                {{ pageText }}
            </p>
        </div>
        {{ include ('@theme/partials/_line.twig') }}
        <div class="row">
            <div class="row d-flex align-items-center justify-content-center my-5">
                <div class="col-12 d-flex align-items-center justify-content-center">
                {% with { recordsTagList : recordsTagList, taxonomies : taxonomies} %}
                    {{ block('buttonFilterContent') }}
                {% endwith %}
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    {% for tag in recordsTagList %}
                        {% with { tag: tag} %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {% for record in records %}
                    {% set tagList = [] %}
                    {% if record|taxonomies["nosRealisationsTags"] is defined %}
                        {% set tags = record|taxonomies["nosRealisationsTags"] %}
                        {% for tag in tags %}
                            {% set tagList = tagList|merge({(tag.name) : tag.slug}) %}
                        {% endfor %}
                    {% endif %}
                    {%  with { record: record, tagList: tagList, taxonomies: "nosRealisationsTags", loopIndex: loop.index } %}
                    {{ block('cardNosRealisationsContent') }}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center my-5">
            {{ pager(records, template = 'partials/helpers/_pager.html.twig') }}
        </div>
        <div class="row">
            {{ block('logoSliderContent') }}
        </div>
    </div>
{% endblock main %}
