{#
record.
    title
    teaser
    cardOne/Two/Three
        .image
        .text
    keyFigureTitle
    keyFigureOne/Two/Three/Four
        image
        text
    seo
    slug
#}
{% extends '@theme/partials/_master.twig' %}

{% use '@theme/partials/_block_top_singleton_with_image.twig' %}
{% use '@theme/partials/banner_keys/_banner_keys_figures.twig' %}
{% use '@theme/partials/cards/_card_SF.twig' %}


{% set cards = [record.cardOne, record.cardTwo, record.cardThree] %}
{% set keyFigures = [record.keyFigureOne, record.keyFigureTwo, record.keyFigureThree] %}

{% block stylesheet %}
    {{ parent() }}
    {{ block('bannerKeysFiguresStylesheet') }}
    {{ block('cardSFstylesheet') }}
    {{ block('blockTopSingletonWithImageStylesheet') }}
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}
{{ block('bannerKeysFiguresJavascript') }}
{{ encore_entry_script_tags('superpositionJs', null, 'transvis') }}
{%  endblock javascript %}

{% block main %}
    <div class="savoirs-faire mt-5">
        <div class="container-sf">
            <h1 class="text-center text-xl-start pt-1 line-before-start mb-5"
                data-aos="fade-up">{{ record.title | upper }}</h1>
            {% if record.intro is defined %}
                <div data-aos="fade-up" data-aos-delay="250">{{ record.intro }}</div>
            {% endif %}
        </div>
        <div class="banner mb-5">
            {% with {keyFigures: keyFigures, keyFigureTitle: record.keyFigureTitle, pt: 0 } %}
                {{ block('bannerKeysFiguresContent') }}
            {% endwith %}
            {% with {margin: 'mb-3 mt-3'} %}
                {% include "@theme/partials/_line.twig" %}
            {% endwith %}
        </div>
        <div class="container-sf">
            <div class="p-0 p-md-3" id="nosEquipeTeaser">
                {{ superposition(record.teaser) }}
            </div>
            <div
                class="block-card d-flex flex-column flex-xl-row align-items-center align-items-lg-start justify-content-around col-12 my-lg-5">
                {% for  card in cards %}
                    {% with { card: card, loop: loop.index } %}
                        {{ block('cardSFContent') }}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
