{% if candidatures is defined and candidatures is not empty %}
    {% for candidature in candidatures %}
        <div class="card w-100 my-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        Message de :
                        {{ candidature.lastname | capitalize }}
                        {{ candidature.firstname | capitalize }}
                    </div>
                </div>
                <div class="row text-muted mt-2 pl-3 mb-2">
                    {{ candidature.email }}
                </div>
                <div class="row col-8">
                    Pour le poste de :
                    {{ candidature.job | capitalize }}
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ candidature.motivation }}
                </p>
            </div>
            <div class="card-footer">
                <div class="row justify-content-around">
                    <div class="col-10"></div>
                    <div class="col-2 d-flex justify-content-end">
                        <form action="{{ path('app_candidatures_delete', {'id': candidature.id}) }}" method="post">
                            <button type="submit" class="btn btn-danger deleteButton">
                                <i class="fas fa-trash-alt"></i>
                                Supprimer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            Aucun message à afficher
        </div>
    </div>
{% endif %}
