{#
defaultImage is variable passed with call component
#}

{% block blockTopSingletonWithImageStylesheet %}
{{ encore_entry_link_tags('blockTopStyle', null, 'transvis') }}
{% endblock %}

{% block blockTopSingletonWithImageContent %}
    {% if imgMargin is not defined %}
        {% set imgMargin = ' m-5' %}
    {% endif %}
    {% if boxMargin is not defined %}
        {% set boxMargin = ' mt-5 pt-5' %}
    {% endif %}

    <div class="{{boxMargin}}">
        <div class="block-top d-flex flex-column mb-5 justify-content-between">
            <h1 class="text-center text-xl-start pt-1 line-before-start mb-5" data-aos="fade-up">{{ record.title | upper }}</h1>
            {% if record.intro is defined %}
                <div data-aos="fade-up" data-aos-delay="250">{{ record.intro }}</div>
            {% endif %}
            <div class="block-bottom d-flex align-items-center flex-column-reverse flex-xl-row-reverse">
                <div class="block-right position-relative col-10 col-xl-5 d-flex justify-content-center align-items-center {{ imgMargin }}" data-aos="fade-left" data-aos-delay="500">
                    <img id="image-back" src="{{ asset('images/savoirs-faire/last-bloc-contour.png') }}" alt="contour">
                    <img id="image-front" class="p-2" src="{{ record.image.path is defined and record.image.path is not empty ? asset(record.image) : asset(defaultImage ?? 'no image') }}" alt="image d'illustration">
                </div>
                <div class="p-3">
                    {{ record.teaser }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
