{#
defaultImage is variable passed with call component
#}

{% block blockTopSingletonWithImageStylesheet %}
    <link rel="stylesheet" href="{{ asset('css/blockTopWithImage.css') }}"/>
{% endblock %}

{% block blockTopSingletonWithImageContent %}
    <div class="mt-5 pt-5">
        <div class="block-top d-flex flex-column mb-5 justify-content-between">
            <h1 class="text-center text-xl-start pt-1 line-before-start">{{ record.title | upper }}</h1>
            <div class="block-bottom d-flex flex-column-reverse flex-xl-row mt-5 mt-xl-2 justify-content-between align-items-center align-items-xl-start">
                <div class="col-12 col-xl-5">
                    {{ record.teaser }}
                </div>
                <div class="block-right mb-5 col-sm-10 col-lg-8 col-xl-6 d-flex justify-content-center"
                     style="background-image: url({{ record.image.path is defined and record.image.path is not empty ? asset(record.image) : asset(defaultImage ?? 'no image') }});">
                    <img src="{{ asset('images/savoirs-faire/bloc-contour.png') }}" alt="image Nos savoirs faire">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

