<!-- Footer -->
<footer class="p-3 p-xl-5">
    <div class="row core-footer justify-content-center align-items-xl-start">
        <div class="col-12 col-xl-6 my-5 row">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center col-lg-4">
                {% if options.logo is defined and options.logo is not empty %}
                    <img src="{{ asset(options.logo) }}" class="footerCorpLogo" alt="Logo">
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Veuillez configurer le logo dans le back-office
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-8 col-lg-8 py-3">
                {{ options.footerText|default('Veuillez configurer le texte dans le back-office') }}
            </div>
        </div>
        <div class="col-6 col-xl-2">
            <h6>
                NAVIGATION
            </h6>
            <div class="red-line my-3"></div>
            {{ menu(
                name = 'ffooter',
                template = 'partials/_sub_menu_footer.twig',
                withsubmenus = false,
            ) }}
        </div>
        <div class="col-6 col-xl-2">
            <h6 class="transparent">NAVIGATION</h6>
            <div class="red-line my-3"></div>
            {{ menu(
                name = 'sfooter',
                template = 'partials/_sub_menu_footer.twig',
                withsubmenus = false,
            ) }}
            <li class="footer-list-item mb-4 d-flex">
             <img src="{{ asset('images/arrowRight.svg') }}" alt="arrow">
                <a class="ms-2" href="/rgpd">Politique de confidentialité</a>
            </li>
        </div>
        <div class="col-12 col-xl-2">
            <h6>CONTACT</h6>
            <div class="red-line my-3"></div>
            <div class="footer-line"></div>
            <ul class="contact-list">
                <li class="contact-list-item">
                    {% include '@theme/images/adress.svg' with {spacing: 55} %}
                </li>
                <li class="contact-list-item contact-list-item-logo">
                    <div class="row align-items-center">
                        <a href="{{ options.linkedin|default('https://www.linkedin.com/') }}" target="_blank" class="rounded-link d-flex justify-content-center align-items-center"><img src="{{ asset('images/linkedin.svg') }}" class="" alt="linkedin"></a>
                        <a href="mailto:{{ options.email|default('contact@transvis.fr') }}" class="rounded-link d-flex justify-content-center align-items-center"><img src="{{ asset('images/enveloppe.svg') }}" class="" alt="enveloppe"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="bottom-footer text-center p-4 align-items-center col-12">
    <p class="diez-text">
        Site réalisé par
        <a href="https://www.deviteasy.fr/" target="_blank" class="diez-link">Deviteasy</a>
    </p><br>
    <p class="diez-text d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <a href="https://www.centre-valdeloire.fr/" target="_blank" class="diez-link">
            <img src="{{ asset('images/centrevaldeloire.png.webp') }}" class="mx-2" alt="logo centre val de loire">
        </a>
        <span class="py-3">Ce site a bénéficié d'un soutien financier de la Région Centre-Val de Loire</span>
    </p>
</div>
