{% block homeHeaderStylesheet %}
    <link rel="stylesheet" href="{{ asset('css/homeHeader.css') }}" />
{% endblock %}

{% block homeHeaderContent %}

    <div id="headerVideoDiv">
        {{ include('partials/_header.twig') }}
        <video controls muted autoplay preload="auto" id="videoHeader">
            <source src="{{ record.headerVideo }}">
        </video>


        <div id="headerContent" class="styling">
            <div class="col-12 col-md-6 col-xl-6 header-block-left">
                <h1>{{record.headerTitle}}</h1>
            </div>
            <div class="col-12 col-md-6 col-xl-6 header-block-right p-4">
                <p>{{record.headerTeaser}}</p>
            </div>
        </div>
    </div>

{% endblock %}
