<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
                                   sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>{{ seo.title() }}</title>
        {{ seo.metatags() }}
        {% block stylesheet %}

            {{ encore_entry_link_tags('appStyle', null, 'transvis') }}
            {{ encore_entry_link_tags('navbarStyle', null, 'transvis') }}
            {{ encore_entry_link_tags('aosStyle', null, 'transvis') }}
            {{ encore_entry_link_tags('footerStyle', null, 'transvis') }}

        {% endblock stylesheet %}
        {% if app.environment == "prod" %}
            {{ encore_entry_script_tags('matomoJs', null, 'transvis') }}
        {% endif %}
    </head>
    {% setcontent options = 'Vos options' %}
    <body>
        {% if record is defined and record.contentType != 'accueil' or records is defined %}
            {{ include('partials/_header.twig') }}
        {% endif %}
        {% block rgpd %}
        {% endblock %}
        <main>
            {% block body %}

                {% block main %}{% endblock main %}

            {% endblock body %}
        </main>

        {% block aside %}{% endblock aside %}

        {{ include('partials/_footer.twig') }}

    </body>
    {% block javascript %}

        {{ encore_entry_script_tags('appJs', null, 'transvis') }}
        {{ encore_entry_script_tags('bootstrapJs', null, 'transvis') }}
        {{ encore_entry_script_tags('navbarJs', null, 'transvis') }}

    {% endblock javascript %}
</html>
