<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
                   sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>{{ seo.title() }}</title>
        {{ seo.metatags() }}
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        {% endblock stylesheet %}
    </head>
    <body>
        {{ include('partials/_header.twig') }}
        <main>
            {% block body %}

                {% block main %}{% endblock main %}

            {% endblock body %}
        </main>

        {% block aside %}{% endblock aside %}

      {{ include('partials/_footer.twig') }}

    </body>
{% block javascript %}
 <script src="{{ asset('js/dependency/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/navbar.js') }}"></script>
{% endblock javascript %}
</html>
