{% macro display_menu_item(item, loop, withsubmenus) %}
    {% apply spaceless %}
<li class="footer-list-item mb-4 d-flex">
   <img src="{{ asset('images/arrowRight.svg') }}" alt="arrow"> <a href="/{{ item.link }}" title="{{ item.title }}" aria-current="page" class="ms-2">{{- item.label -}}</a>
</li>
    {% endapply %}
{% endmacro %}

{# Make the macro available for use #}
{% from _self import display_menu_item %}
<ul class="footer-list">
    {% for item in menu %}
        {% if item.label is defined %}
            {{ display_menu_item(item, loop, withsubmenus) }}
        {% endif %}
    {% endfor %}
</ul>
